.App {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  margin: auto;
  padding: 10px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .App {
    width: 80%;
    height: 100vh;
  }
}
